<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TodoMe | List</title>
    <link rel="shortcut icon" href="/bitmap1.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.css">
</head>

<body>
    <div class="all-todo">
        <div class="container-todo">
            <div class="content">
                <div class="title-todo">
                    <h1 style="font-weight: bolder;">Todo List</h1>
                </div>



                <div class="row">
                    <div class="col-lg-6">
                        <form method="POST" action="/todo" name="input" onsubmit="return inputTask()">
                            <div class="input-group">
                                <input type="text" name="kegiatan" class="form-control"
                                    placeholder="Input task name...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Add Item</button>
                                </span>

                                <!-- <input type="text" class="form-control" placeholder="Input task name..."> -->
                            </div>
                        </form>
                    </div>
                </div>

                <div class="todo-list">
                    <table class="table table-striped table-hover">
                        <thead class="thead">
                            <tr>
                                <th>Kegiatan</th>
                                <th>Status</th>
                                <th>Nama</th>
                                <th>Option</th>
                            </tr>
                        </thead>
                        <tbody class="tbody">
                            <% for(let i =0; i < response.length; i++){ %>
                            <tr>
                                <td><%= response[i].kegiatan%></td>
                                <td><%= response[i].status==0? 'belum': 'sudah'%></td>
                                <td><%= response[i].userlist.name%></td>
                                <td>
                                    <div class="tombol-edit-delete">
                                        <a href="/todo/edittodo/<%= response[i].id%>">
                                            <button type="button" class="btn btn-warning">
                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                            </button>
                                        </a>
                                        <a href="/todo/delete/<%= response[i].id%>">
                                            <button type="button" class="btn btn-danger">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="signout-button">
            <a href="/user/logout">
                <button type="button" class="btn btn-default navbar-btn">Sign Out</button>
                <!-- <form action=""></form> -->
            </a>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
</body>





<script>


    function inputTask() {
        const x = document.forms['input']['kegiatan'].value
        if (x === '' || x === null) {
            alert('silahkan input kegiatan')
            return false
        }
    }
</script>


</html>